 .inputStyle1{
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
  };

  .buttonStyle1{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: pink;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  };

  .inputStyle{
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
};

 .buttonStyle{
    padding: 10px 20px;
    font-Size: 16px;
    color: white;
    background-color: pink;
    border: 'none';
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
};

 .closeButtonStyle{
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color:pink;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
};