.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.imageContainer {
    width: 50%;
    text-align: center;
}

.imageContainer img {
    max-width: 100%;
    height: auto;
}

.pargraphContainer {
    width: 50%;
    padding: 20px;
}

