.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); 
}

.navbarBrand a {
    color: lightseagreen;
    text-decoration:none;
    font-size: 40px;
    font-style:oblique;
}

.navbarLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbarLinks li {
    margin-left: 20px;
}

.navbarLinks a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

.navbarLinks a:hover {
    text-decoration: underline;
}
